@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,900&display=swap');

.main{
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Lato',sans-serif;
}

.mian2{
    display: flex;
    flex-direction: row;
    width:100%
}

.header{
    height: auto;
}

.upload-img{
    height: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.results{
    height: 50%;
    width: 50%;
}
mat-toolbar{
    
    background-color: rgb(38,160,252,.5);
    font-size: x-large;
    color: white
    
}

mat-toolbar > span{
    width: 100%;
    text-align: center;

}



.custom-file-upload {
    border: 1px solid #ccc;
    background-color: rgb(101,181,86,.9);
    color: white;
    border-radius: .3rem;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

